.nav-bar {
    /* justify-content: space-between; */
    padding: 2rem;
    align-items: center;
    display: flex;
}

.nav-main {
    display: flex;
    flex-flow: row wrap;
}

.nav-logout-profile {
    padding: 1.5rem;
    display: flex;
    flex-flow: row wrap;
}
/* button {
    background-color: black;
    color: white;
} */

.housing-icon {
    height: 60px;
    width: 60px;
}

.profile-icon {
    height: 38px;
    width: 38px;
    margin-top: 11px
}

.logout-icon {
    height: 60px;
    width: 60px;
    margin-top: 3px;
    margin-left: 20px;
}

p{
    font-size: 20px;
}

.contact-header {
    float: right;
}

.login {
    height: 40px;
    width: 40px;
}
.contact-container {
    justify-items: right;
    /* margin-top: 3px;
    margin-left: 85vw */
}

.contact-button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: .5em;
    font-weight: 500;
}

.contact-button:hover {
    background-color: #616E7F;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: .5em;
    font-weight: 500;
}
