.nav-bar {
    justify-content: center;
    padding: 2rem;
}

/* button {
    background-color: black;
    color: white;
} */

.housing-icon {
    height: 30px;
    width: 30px;
}

.profile-icon {
    height: 35px;
    width: 35px;
}