.contact__github-logo {
    height: 5rem;
    width: 5rem
}
.contact__linkedin-logo {
    height: 4rem;
    width: 4rem
}

.contact {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 30rem 30rem;
    grid-template-areas: "bryant kevin"
                         "ummer peter";
    justify-content: center;
    font-size: 2rem;
    padding: 3rem
}

#bryant {
    grid-area: bryant;
}

#kevin {
    grid-area: kevin;
}

#ummer {
    grid-area: ummer;
}

#peter {
    grid-area: peter;
}

.contact__mail-tag {
    text-decoration: none;
    color: black;
}

.contact__mail-tag:hover {
    color: #52C4B9
}