#search-results {
    position: absolute;
    top: 15%;
    right: 47%;
    background: black;
    color: pink;
    z-index: 2;
    list-style-type: none;
}

.counties:hover{
    cursor: pointer;
    background-color: white;
}