.map {
    position: relative;
    margin: 0 auto;
	margin-top: 1rem;
	width: 600px;
}

.county {
	stroke: black
}

.county:hover {
	fill: navajowhite;
}

.tooltip {
    position: absolute;
    right: 10px;
    top: 40px;
	padding: 2px;
	width: 75px;
	background: black;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	text-align: center;
	font: 12px sans-serif;
	color: white;
}