/* #footer {
    text-align: center;
    position: relative;
    bottom: 0rem;
    left: 1rem;
    height: 3rem;
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 2rem;

}

#footer:visited { text-decoration: none; }
#footer:hover { text-decoration: none; }
#footer:focus { text-decoration: none; }
#footer:hover, a:active { text-decoration: none; } */

.FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }

  .FormField__Button:hover {
    background-color: #616E7F;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }
